* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #1F2937;
    font-family: 'Comfortaa', cursive, sans-serif;
    
    
}

header {
    margin-bottom: 100px;
}

img {
    width: 400px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 150px;
    margin-left: 250px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    flex: 1;
}

nav {
    background-color: #1F2937;
}

.header-sections {
    display: flex;
   
    width: 500px;
}


/* SECTION 1 */



.section-1 {
    
    display: flex;
    margin: 50px 150px;
    margin-bottom: 100px;
}



.section-1 p {

    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}





.flexbox-1 {
   
    

    
}

.awesome-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.awesome-button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    padding: 10px 25px;
    border-radius: 8px;
    border-style: none;
    
}

.flexbox-2 {
    margin-left: 200px;
}

/* SECTION 2 */

.section-2 {
    background-color: #f9faf8;
}

.section-2-body {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto 175px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;

}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.img-border {
    margin: 30px 30px;
    padding: 20px;
    border: 4px solid #3882f6;
    border-radius: 20px;
    
    
}



/* SECTION-3 */


.section-3 {
    background-color: #e5e7eb;
}

.review {
    text-align: center;
    padding: 100px;
}

.inspi-quote {
    font-size: 36px;
    
    font-weight: light;
    font-style: italic;
    
}